@model XPShare.Web.UI.Models.Experiences.CreateExperienceForm
@{
    ViewData["Title"] = "Create New Experience";
}

<h2>Create New Experience</h2>
<form asp-controller="Experiences" asp-action="Create" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Description" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>


