@model XPShare.Domain.Users.User
@{
    var name = Model?.Name ?? "Not Found";
    ViewData["Title"] = $"Users - {name}";
}

<h2>Details</h2>

@if (Model != null)
{
    <div>
        @name  <br />
    </div>
    <a asp-controller="Users" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
}
else
{
    <div>User Not Found</div>

}


<a asp-controller="Users" asp-action="Index">Back</a>