@model IEnumerable<XPShare.Domain.Users.User>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach(var user in Model)
{
    <div>
        <a href="/Users/Details/@user.Id">@user.Name</a>
    </div>    
}
