@model IEnumerable<XPShare.Domain.Users.User>
@{
    ViewData["Title"] = "Users";
}

<h2>Index</h2>

@foreach(var user in Model)
{
    <div>
        <a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id">@user.Name</a>
    </div>    
}
